/*
 * BalsameeAPIsLib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
package com.balsamee.admin.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;

import com.balsamee.admin.*;
import com.balsamee.admin.models.*;
import com.balsamee.admin.exceptions.*;
import com.balsamee.admin.http.client.HttpClient;
import com.balsamee.admin.http.client.HttpContext;
import com.balsamee.admin.http.request.HttpRequest;
import com.balsamee.admin.http.response.HttpResponse;
import com.balsamee.admin.http.response.HttpStringResponse;
import com.balsamee.admin.http.client.APICallBack;

public class MeasurementsController extends BaseController {
    //private static variables for the singleton pattern
    private static final Object syncObject = new Object();
    private static MeasurementsController instance = null;

    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the MeasurementsController class 
     */
    public static MeasurementsController getInstance() {
        if (null == instance) {
            synchronized (syncObject) {
                if (null == instance) {
                    instance = new MeasurementsController();
                }
            }
        }
        return instance;
    }

    /**
     * # Specifications :-
     * <b>URL : </b>/diabetes/add  
     * <b>Method : </b>POST  
     * # Parameters :-
     * <b>Headers :</b>  
     * 1- X-Authentication-Token  
     * 2- X-Session-Id  
     * 3- X-App-Id : should be sent only when using doctor app  
     * <b>Params :</b>  
     * -diabetes : String contains fields data in json (array) format  
     * Ex: "[{ 'field_name': "" }]" --> string "[]" not json object/array  
     * Each Object in the array consists of:  
     * 1- field_name  
     * 2- field_value  
     * 3- date Or date_timestamp (with date_timestamp you don't need to send date field again in the relations array)  
     * 4- relations => Array_of_relations  
     * Every relation in the array consists of the same previous attributes/keys  
     * ( date, field_name, field_value )  
     * <b>Note in Pregnancy App</b>  
     * "field_name" param possible values are => glucose, blood_pressure, weight  
     * When the "field_name" value is glucose then the "field_name" value inside the relations will be  => "last meal", "activity"  
     * The "last meal" "field_value" could be => Before Breakfast, After Breakfast, Before Lunch, After Lunch, At Fasting  
     * The "activity"  "field_value" could be => No exercise, Light, Moderate, Heavy  
     * # Response/JSON :-
     * 1- {}, status: :ok  
     * 2- {}, status: :unprocessable_entity
     * @param    diabetes    Required parameter: Example: 
     * @param    xSessionId    Required parameter: Example: 
     * @param    xAuthenticationToken    Required parameter: Example: 
     * @param    xAppId    Required parameter: Example: 
     * @return    Returns the void response from the API call 
     */
    public void createApiV5DiabetesAddPostAsync(
                final String diabetes,
                final String xSessionId,
                final String xAuthenticationToken,
                final String xAppId,
                final APICallBack<Object> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {
                //the base uri for api requests
                String _baseUri = Configuration.getBaseUri();

                //prepare query string for API call
                StringBuilder _queryBuilder = new StringBuilder("/diabetes/add");

                ///process query parameters
                Map<String, Object> _queryParameters = new HashMap<String, Object>();
                _queryParameters.put("diabetes", diabetes);
                APIHelper.appendUrlWithQueryParameters(_queryBuilder, _queryParameters);

                //validate and preprocess url
                String _queryUrl = APIHelper.cleanUrl(new StringBuilder(_baseUri).append(_queryBuilder));

                //load all headers for the outgoing API request
                Map<String, String> _headers = new HashMap<String, String>();
                _headers.put("X-Session-Id", xSessionId);
                _headers.put("X-Authentication-Token", xAuthenticationToken);
                _headers.put("X-App-Id", xAppId);
                _headers.put("user-agent", BaseController.userAgent);


                //prepare and invoke the API call request to fetch the response
                final HttpRequest _request = getClientInstance().post(_queryUrl, _headers, null);

                //invoke the callback before request if its not null
                if (getHttpCallBack() != null)
                {
                    getHttpCallBack().OnBeforeRequest(_request);
                }

                //invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //let the caller know of the success
                            callBack.onSuccess(_context, _context);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * # Specifications :-
     * <b>URL : </b>/diabetes/get_summary  
     * <b>Method : </b>GET  
     * # Parameters :-
     * <b>Headers :</b>  
     * 1- X-Authentication-Token  
     * 2- X-Session-Id  
     * 3- X-App-Id : should be sent only when using doctor app  
     * # Response/JSON :-
     * 1- <b>{measurements: Array_of_values}, status: :ok</b>  
     * &nbsp;&nbsp;Every Value in the array (sorted by date) consists of:  
     * &nbsp;&nbsp;1- created_at  
     * &nbsp;&nbsp;2- date  
     * &nbsp;&nbsp;3- date_timestamp  
     * &nbsp;&nbsp;4- field_name  
     * &nbsp;&nbsp;5- field_value  
     * &nbsp;&nbsp;6- id  
     * &nbsp;&nbsp;7- is_pmr  
     * &nbsp;&nbsp;8- updated_at  
     * &nbsp;&nbsp;9- user_id  
     * &nbsp;&nbsp;10- relations   => Array_of_relations  
     * &nbsp;&nbsp;&nbsp;&nbsp;Every relation in the array consists of the same previous attributes/keys  
     * &nbsp;&nbsp;&nbsp;&nbsp;( created_at, date, field_name, field_value, id, is_pmr, updated_at, user_id )  
     * 2- <b>{}, status: :unprocessable_entity</b>
     * @param    xSessionId    Required parameter: Example: 
     * @param    xAuthenticationToken    Required parameter: Example: 
     * @param    xAppId    Required parameter: Example: 
     * @return    Returns the void response from the API call 
     */
    public void getApiV5DiabetesGetSummaryGetAsync(
                final String xSessionId,
                final String xAuthenticationToken,
                final String xAppId,
                final APICallBack<Object> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {
                //the base uri for api requests
                String _baseUri = Configuration.getBaseUri();

                //prepare query string for API call
                StringBuilder _queryBuilder = new StringBuilder("/diabetes/get_summary");

                //validate and preprocess url
                String _queryUrl = APIHelper.cleanUrl(new StringBuilder(_baseUri).append(_queryBuilder));

                //load all headers for the outgoing API request
                Map<String, String> _headers = new HashMap<String, String>();
                _headers.put("X-Session-Id", xSessionId);
                _headers.put("X-Authentication-Token", xAuthenticationToken);
                _headers.put("X-App-Id", xAppId);
                _headers.put("user-agent", BaseController.userAgent);


                //prepare and invoke the API call request to fetch the response
                final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

                //invoke the callback before request if its not null
                if (getHttpCallBack() != null)
                {
                    getHttpCallBack().OnBeforeRequest(_request);
                }

                //invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //let the caller know of the success
                            callBack.onSuccess(_context, _context);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * # Specifications :-
     * <b>URL : </b>/diabetes/get  
     * <b>Method : </b>GET  
     * <b>Description : </b>retrieve the corresponding diabetes info to the provided user with the diabetes type and build back the relations if it exists  
     * # Parameters :-
     * <b>Headers :</b>  
     * 1- X-Authentication-Token  
     * 2- X-Session-Id  
     * 3- X-App-Id : should be sent only when using doctor app  
     * <b>Params :</b>  
     * 1- type  
     * <b>Note in Pregnancy App</b>  
     * "type" param possible values are => glucose, blood_pressure, weight
     * # Response/JSON :-
     * 1- <b>{measurements: Array_of_values}, status: :ok</b>  
     * &nbsp;&nbsp;Every Value in the array (sorted by date) consists of:  
     * &nbsp;&nbsp;1- created_at  
     * &nbsp;&nbsp;2- date  
     * &nbsp;&nbsp;3- date_timestamp  
     * &nbsp;&nbsp;4- field_name  
     * &nbsp;&nbsp;5- field_value  
     * &nbsp;&nbsp;6- id  
     * &nbsp;&nbsp;7- is_pmr  
     * &nbsp;&nbsp;8- updated_at  
     * &nbsp;&nbsp;9- user_id  
     * &nbsp;&nbsp;10- relations   => Array_of_relations  
     * &nbsp;&nbsp;&nbsp;&nbsp;Every relation in the array consists of the same previous attributes/keys  
     * &nbsp;&nbsp;&nbsp;&nbsp;( created_at, date, field_name, field_value, id, is_pmr, updated_at, user_id )  
     * 2- <b>{}, status: :unprocessable_entity</b>
     * @param    type    Required parameter: Example: 
     * @param    xSessionId    Required parameter: Example: 
     * @param    xAuthenticationToken    Required parameter: Example: 
     * @param    xAppId    Required parameter: Example: 
     * @return    Returns the void response from the API call 
     */
    public void getApiV5DiabetesGetGetAsync(
                final String type,
                final String xSessionId,
                final String xAuthenticationToken,
                final String xAppId,
                final APICallBack<Object> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {
                //the base uri for api requests
                String _baseUri = Configuration.getBaseUri();

                //prepare query string for API call
                StringBuilder _queryBuilder = new StringBuilder("/diabetes/get");

                ///process query parameters
                Map<String, Object> _queryParameters = new HashMap<String, Object>();
                _queryParameters.put("type", type);
                APIHelper.appendUrlWithQueryParameters(_queryBuilder, _queryParameters);

                //validate and preprocess url
                String _queryUrl = APIHelper.cleanUrl(new StringBuilder(_baseUri).append(_queryBuilder));

                //load all headers for the outgoing API request
                Map<String, String> _headers = new HashMap<String, String>();
                _headers.put("X-Session-Id", xSessionId);
                _headers.put("X-Authentication-Token", xAuthenticationToken);
                _headers.put("X-App-Id", xAppId);
                _headers.put("user-agent", BaseController.userAgent);


                //prepare and invoke the API call request to fetch the response
                final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

                //invoke the callback before request if its not null
                if (getHttpCallBack() != null)
                {
                    getHttpCallBack().OnBeforeRequest(_request);
                }

                //invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //let the caller know of the success
                            callBack.onSuccess(_context, _context);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * # Specifications :-
     * <b>URL : </b>/diabetes/visualized_data  
     * <b>Method : </b>POST  
     * # Parameters :-
     * <b>Headers :</b>  
     * 1- X-Authentication-Token  
     * 2- X-Session-Id  
     * 3- X-App-Id : should be sent only when using doctor app  
     * <b>Params :</b>  
     * 1- send_email  
     * 2- type  
     * <b>Note in Pregnancy App</b>  
     * "type" param possible values are => glucose, blood_pressure, weight  
     * # Response/JSON :-
     * 1- <b>{"message":"mail sent"}, status: :ok</b>  
     * 2- <b>{:graph => graph_url, count: count}, status: :ok</b>  
     * 3- <b>{}, status: :unprocessable_entity</b>  
     * providing Graph to the matched requested diabetes info  
     * Two cases will apply:  
     * 1- if the request is to send email contains the graph url to some one provided in the request params e.g "send_email: bla@bla.bla"  
     * 2- if the request is just to get the corresponding graph to the matched [type, user]  
     * @param    sendEmail    Required parameter: Example: 
     * @param    type    Required parameter: Example: 
     * @param    xSessionId    Required parameter: Example: 
     * @param    xAuthenticationToken    Required parameter: Example: 
     * @param    xAppId    Required parameter: Example: 
     * @return    Returns the void response from the API call 
     */
    public void createApiV5DiabetesVisualizedDataPostAsync(
                final String sendEmail,
                final String type,
                final String xSessionId,
                final String xAuthenticationToken,
                final String xAppId,
                final APICallBack<Object> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {
                //the base uri for api requests
                String _baseUri = Configuration.getBaseUri();

                //prepare query string for API call
                StringBuilder _queryBuilder = new StringBuilder("/diabetes/visualized_data");

                ///process query parameters
                Map<String, Object> _queryParameters = new HashMap<String, Object>();
                _queryParameters.put("send_email", sendEmail);
                _queryParameters.put("type", type);
                APIHelper.appendUrlWithQueryParameters(_queryBuilder, _queryParameters);

                //validate and preprocess url
                String _queryUrl = APIHelper.cleanUrl(new StringBuilder(_baseUri).append(_queryBuilder));

                //load all headers for the outgoing API request
                Map<String, String> _headers = new HashMap<String, String>();
                _headers.put("X-Session-Id", xSessionId);
                _headers.put("X-Authentication-Token", xAuthenticationToken);
                _headers.put("X-App-Id", xAppId);
                _headers.put("user-agent", BaseController.userAgent);


                //prepare and invoke the API call request to fetch the response
                final HttpRequest _request = getClientInstance().post(_queryUrl, _headers, null);

                //invoke the callback before request if its not null
                if (getHttpCallBack() != null)
                {
                    getHttpCallBack().OnBeforeRequest(_request);
                }

                //invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //let the caller know of the success
                            callBack.onSuccess(_context, _context);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

}