/*
 * BalsameeAPIsLib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
package com.balsamee.admin.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;
import com.fasterxml.jackson.core.type.TypeReference;

import com.balsamee.admin.*;
import com.balsamee.admin.models.*;
import com.balsamee.admin.exceptions.*;
import com.balsamee.admin.http.client.HttpClient;
import com.balsamee.admin.http.client.HttpContext;
import com.balsamee.admin.http.request.HttpRequest;
import com.balsamee.admin.http.response.HttpResponse;
import com.balsamee.admin.http.response.HttpStringResponse;
import com.balsamee.admin.http.client.APICallBack;

public class NewsFeedController extends BaseController {
    //private static variables for the singleton pattern
    private static final Object syncObject = new Object();
    private static NewsFeedController instance = null;

    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the NewsFeedController class 
     */
    public static NewsFeedController getInstance() {
        if (null == instance) {
            synchronized (syncObject) {
                if (null == instance) {
                    instance = new NewsFeedController();
                }
            }
        }
        return instance;
    }

    /**
     *   -  NewsFeed (news and ads)
     *   
     *   - The response is paginated - each page contain 10 records
     *   
     *   - @params [Integer] page (Page number to fetch)
     *   - @params [String] lang [ar|en]
     *   - @params [comments_count] (will return the number of comments specified , if not specified it will return all comments)
     *   
     *   - Response:(JsonArray of news feed)
     *   
     *     - id (sequence id of news feed)
     *     - item_type (News or Advertisement)
     *     - if item_type is News then you will find news object
     *       - id (news id)
     *       - title (news title)
     *       - cover (news cover image to display in index page)
     *       - content_brief (breif content to display in index page)
     *       - body (news content body (html))
     *       - likes_count
     *       - comments_count
     *       - share_count
     *       - is_liked (indicate user liked this news or not)
     *       - saved_link_id (if user saved this news in saved posts   this key will return id of saved link else will return   null)
     *       
     *     - if item_type is Advertisement you will find advertisement object
     *       - id (advertisement id)
     *       - content (advertisement content html)
     *       - action_tyoe: ["Internal", "External", "Static"]
     *          - Internal: This will open internal model.
     *          - External: will open URL
     *          - Static: nothing to do
     *         
     *       - menu_action_key (this will used incase of action_type   is Internal): ["Home Care", "Near by Medical Services", "Measurements"]
     *       
     *       - external_url (in case of action type is external this key will contain url)
     *     
     *  
     *  
     *   - This API called if uer authenticated or not  
     *   - in case of authenticated user. send required authentication - headers as below:  
     *  
     *     - X-Authentication-Token  
     *     - X-Session-Id
     * @param    lang    Required parameter: Example: 
     * @param    page    Required parameter: Example: 
     * @param    commentsCount    Required parameter: Example: 
     * @param    authenticationToken    Required parameter: Example: 
     * @param    sessionId    Required parameter: Example: 
     * @return    Returns the void response from the API call 
     */
    public void getApiV5News574efc7969702d370a130000GetAsync(
                final String lang,
                final int page,
                final int commentsCount,
                final String authenticationToken,
                final String sessionId,
                final APICallBack<DynamicResponse> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {
                //the base uri for api requests
                String _baseUri = Configuration.getBaseUri();

                //prepare query string for API call
                StringBuilder _queryBuilder = new StringBuilder("/news/574efc7969702d370a130000");

                ///process query parameters
                Map<String, Object> _queryParameters = new HashMap<String, Object>();
                _queryParameters.put("lang", lang);
                _queryParameters.put("page", page);
                _queryParameters.put("comments_count", commentsCount);
                APIHelper.appendUrlWithQueryParameters(_queryBuilder, _queryParameters);

                //validate and preprocess url
                String _queryUrl = APIHelper.cleanUrl(new StringBuilder(_baseUri).append(_queryBuilder));

                //load all headers for the outgoing API request
                Map<String, String> _headers = new HashMap<String, String>();
                _headers.put("authentication_token", authenticationToken);
                _headers.put("session_id", sessionId);
                _headers.put("user-agent", BaseController.userAgent);
                _headers.put("accept", "application/json");


                //prepare and invoke the API call request to fetch the response
                final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

                //invoke the callback before request if its not null
                if (getHttpCallBack() != null)
                {
                    getHttpCallBack().OnBeforeRequest(_request);
                }

                //invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            DynamicResponse _result = new DynamicResponse(_response);

                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     *   -  NewsFeed (news and ads)
     *   
     *   - The response is paginated - each page contain 10 records
     *   
     *   - @params [Integer] page (Page number to fetch)
     *   - @params [String] lang [ar|en]
     *   
     *   - Response:(JsonArray of news feed)
     *   
     *     - id (sequence id of news feed)
     *     - item_type (News or Advertisement)
     *     - if item_type is News then you will find news object
     *       - id (news id)
     *       - title (news title)
     *       - cover (news cover image to display in index page)
     *       - content_brief (breif content to display in index page)
     *       - body (news content body (html))
     *       - likes_count
     *       - comments_count
     *       - share_count
     *       - is_liked (indicate user liked this news or not)
     *       - saved_link_id (if user saved this news in saved posts   this key will return id of saved link else will return   null)
     *       - special_tag
     *             -id
     * 			-name
     * 			-icon
     * 			-color (hexa)
     * 			
     *       
     *     - if item_type is Advertisement you will find advertisement object
     *       - id (advertisement id)
     *       - content (advertisement content html)
     *       - action_tyoe: ["Internal", "External", "Static"]
     *          - Internal: This will open internal model.
     *          - External: will open URL
     *          - Static: nothing to do
     *         
     *       - menu_action_key (this will used incase of action_type   is Internal): ["Home Care", "Near by Medical Services", "Measurements"]
     *       
     *       - external_url (in case of action type is external this key will contain url)
     *     
     *  
     *  
     *   - This API called if uer authenticated or not  
     *   - in case of authenticated user. send required authentication - headers as below:  
     *  
     *     - X-Authentication-Token  
     *     - X-Session-Id
     * @param    page    Required parameter: Example: 
     * @param    perPage    Required parameter: Example: 
     * @param    lang    Required parameter: Example: 
     * @param    xAuthenticationToken    Required parameter: Example: 
     * @param    xSessionId    Required parameter: Example: 
     * @return    Returns the void response from the API call 
     */
    public void getApiV5NewsGetAsync(
                final int page,
                final int perPage,
                final String lang,
                final String xAuthenticationToken,
                final String xSessionId,
                final APICallBack<Newssuccess> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {
                //the base uri for api requests
                String _baseUri = Configuration.getBaseUri();

                //prepare query string for API call
                StringBuilder _queryBuilder = new StringBuilder("/news");

                ///process query parameters
                Map<String, Object> _queryParameters = new HashMap<String, Object>();
                _queryParameters.put("page", page);
                _queryParameters.put("per_page", perPage);
                _queryParameters.put("lang", lang);
                APIHelper.appendUrlWithQueryParameters(_queryBuilder, _queryParameters);

                //validate and preprocess url
                String _queryUrl = APIHelper.cleanUrl(new StringBuilder(_baseUri).append(_queryBuilder));

                //load all headers for the outgoing API request
                Map<String, String> _headers = new HashMap<String, String>();
                _headers.put("X-Authentication-Token", xAuthenticationToken);
                _headers.put("X-Session-Id", xSessionId);
                _headers.put("user-agent", BaseController.userAgent);
                _headers.put("accept", "application/json");


                //prepare and invoke the API call request to fetch the response
                final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

                //invoke the callback before request if its not null
                if (getHttpCallBack() != null)
                {
                    getHttpCallBack().OnBeforeRequest(_request);
                }

                //invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            Newssuccess _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<Newssuccess>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     *   -  NewsFeed (news and ads)
     *   
     *   - The response is paginated - each page contain 10 records
     *   
     *   - @params [Integer] page (Page number to fetch)
     *   - @params [String] lang [ar|en]
     *   
     *   - Response:(JsonArray of news feed)
     *   
     *     - id (sequence id of news feed)
     *     - item_type (News or Advertisement)
     *     - if item_type is News then you will find news object
     *       - id (news id)
     *       - title (news title)
     *       - cover (news cover image to display in index page)
     *       - content_brief (breif content to display in index page)
     *       - body (news content body (html))
     *       - likes_count
     *       - comments_count
     *       - share_count
     *       - is_liked (indicate user liked this news or not)
     *       - saved_link_id (if user saved this news in saved posts   this key will return id of saved link else will return   null)
     *       -special_tag 
     * 			-id 
     * 			-name
     * 			-icon
     * 			-color (hexa)
     *     - if item_type is Advertisement you will find advertisement object
     *       - id (advertisement id)
     *       - content_body (advertisement content html)
     *       - action_type: ["Internal", "External", "Static"]
     *          - Internal: This will open internal model.
     *          - External: will open URL
     *          - Static: nothing to do
     *         
     *       - menu_action_key (this will used incase of action_type   is Internal): ["Home Care", "Near by Medical Services", "Measurements"]
     *       
     *       - external_url (in case of action type is external this key will contain url)
     *     
     *  
     *  
     *   - This API called if uer authenticated or not  
     *   - in case of authenticated user. send required authentication - headers as below:  
     *  
     *     - X-Authentication-Token  
     *     - X-Session-Id
     * @param    lang    Required parameter: Example: 
     * @param    page    Required parameter: Example: 
     * @param    newsTagId    Required parameter: Example: 
     * @return    Returns the void response from the API call 
     */
    public void getApiV5NewsFeedsGetAsync(
                final String lang,
                final int page,
                final String newsTagId,
                final APICallBack<Object> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {
                //the base uri for api requests
                String _baseUri = Configuration.getBaseUri();

                //prepare query string for API call
                StringBuilder _queryBuilder = new StringBuilder("/news_feeds");

                ///process query parameters
                Map<String, Object> _queryParameters = new HashMap<String, Object>();
                _queryParameters.put("lang", lang);
                _queryParameters.put("page", page);
                _queryParameters.put("news_tag_id", newsTagId);
                APIHelper.appendUrlWithQueryParameters(_queryBuilder, _queryParameters);

                //validate and preprocess url
                String _queryUrl = APIHelper.cleanUrl(new StringBuilder(_baseUri).append(_queryBuilder));

                //load all headers for the outgoing API request
                Map<String, String> _headers = new HashMap<String, String>();
                _headers.put("user-agent", BaseController.userAgent);


                //prepare and invoke the API call request to fetch the response
                final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

                //invoke the callback before request if its not null
                if (getHttpCallBack() != null)
                {
                    getHttpCallBack().OnBeforeRequest(_request);
                }

                //invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //let the caller know of the success
                            callBack.onSuccess(_context, _context);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * -This function increments the share counter (initially returns = 0) whenever the user shares a post. 
     * -The return variable name is "share_count"
     * -To call the count incrementer call the following url news/news_id/increment_share_count?lang=en
     * @param    lang    Required parameter: Example: 
     * @return    Returns the void response from the API call 
     */
    public void updateApiV5News580f73426d61725cae000000IncrementShareCountPutAsync(
                final String lang,
                final APICallBack<Object> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {
                //the base uri for api requests
                String _baseUri = Configuration.getBaseUri();

                //prepare query string for API call
                StringBuilder _queryBuilder = new StringBuilder("/news/580f73426d61725cae000000/increment_share_count");

                ///process query parameters
                Map<String, Object> _queryParameters = new HashMap<String, Object>();
                _queryParameters.put("lang", lang);
                APIHelper.appendUrlWithQueryParameters(_queryBuilder, _queryParameters);

                //validate and preprocess url
                String _queryUrl = APIHelper.cleanUrl(new StringBuilder(_baseUri).append(_queryBuilder));

                //load all headers for the outgoing API request
                Map<String, String> _headers = new HashMap<String, String>();
                _headers.put("user-agent", BaseController.userAgent);


                //prepare and invoke the API call request to fetch the response
                final HttpRequest _request = getClientInstance().put(_queryUrl, _headers, null);

                //invoke the callback before request if its not null
                if (getHttpCallBack() != null)
                {
                    getHttpCallBack().OnBeforeRequest(_request);
                }

                //invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //let the caller know of the success
                            callBack.onSuccess(_context, _context);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

}